{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
  <article>
    <h1 style="text-align: center;">Log in</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column" style="margin: auto;">
        {% csrf_token %}
          <form method="POST" id="form">
            {% csrf_token %}
            {{loginform.as_p}}
            <input type="submit" value="Login"/>
          </form>
          <a href="{% url 'register' %}">No account? Click to register</a>
      </div>
      <!--End col-->
    </div>
    <!--End row-->

  </article>
</section>
{% endblock %}
