{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
  <article>
    <h1 style="text-align: center;">Register</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column" style="margin: auto;">
        {% csrf_token %}
          <form method="POST" id="form">
            {% csrf_token %}
            {{registerform.as_p}}
            <input type="submit" value="Register"/>
          </form>
      </div>
      <!--End col-->
    </div>
    <!--End row-->

  </article>
</section>
<script>
  // getUsers()

  // Monitor the date input, to update bookings view.
  document.getElementById('username').addEventListener('focusout', getUsers)

  function getUsers() {
    username = document.getElementById('username').value
    formdata = {'username': username}
    fetch("{% url 'check_user' %}", { method: 'post', body: JSON.stringify(formdata) })
      .then(r => r.json())
      .then(data => {
        user_exist = data['user_exist']
        if (user_exist) {
          document.getElementById('user_exist').innerHTML = '<p>Username already taken</p>'
        } else {
          document.getElementById('user_exist').innerHTML = ''
        }
      })
  }
  
  function register(formdata) {
    fetch("{% url 'register' %}", { method: 'post', body: JSON.stringify(formdata) })
    return
  }
</script>
{% endblock %}
